img{
    height: 200px;
    width: 200px;
}
.color-title{
    font-weight: normal;
}
.red{
    display: inline-block;
    margin: 50px;
}
.blue{
    display: inline-block;
    margin: 50px;
}
.orange{
    display: inline-block;
    margin: 50px;
}
.green{
    display: inline-block;
    margin: 50px;
}
.yellow{
    display: inline-block;
    margin: 50px;
}
#red{
    color: red;
}